@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


:root {
  --yellow-color: #FFFD02; /* Example primary color */
  --black-color: #1A1A1A; /* Example secondary color */
  --gray-color: #282828; /* Example background color */
  --white-color: #FAFAFA; /* Example text color */
  --text-gray: #FFFFFF80;
}



body {
  font-family: "Outfit", sans-serif;
  background-color: var(--black-color);
  color: var(--text-gray);
}


::-webkit-scrollbar {
  width: 8px; 
  height: 100px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color) ;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--yellow-color) transparent;
}


.yellow-color {
  @apply bg-[var(--yellow-color)]
}

.black-color {
  @apply bg-[var(--black-color)]
}

.gray-color {
  @apply bg-[var(--gray-color)]
}

.white-color {
  @apply bg-[var(--white-color)]
}

.text-gray {
  @apply text-[var(--text-gray)]
}


.navIcon {
  @apply absolute text-[var(--white-color)] top-6 left-2 w-1.5 h-1.5 rounded-full bg-[var(--yellow-color)]
}